.bg-img{
	background-image: url('https://firebasestorage.googleapis.com/v0/b/my-awesome-project-238c6.appspot.com/o/background.jpg?alt=media&token=cd8709e6-c648-4bec-a01e-5f731cc30a30');
	background-repeat: no-repeat;
	height: 100vh;
}

.center {
  margin: auto;
  width: 40%;
  padding: 10px;
}

#logo{
	background-image: url('https://firebasestorage.googleapis.com/v0/b/my-awesome-project-238c6.appspot.com/o/logo.png?alt=media&token=ade5a3ec-58c8-4cce-9a16-5d0f8ac5ee98');
	height: 262px;
	width: 580px;
	position: relative;
}
